#
# https://raw.githubusercontent.com/github/gitignore/master/Autotools.gitignore
#

# http://www.gnu.org/software/automake

Makefile.in
ar-lib
mdate-sh
py-compile
test-driver
ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
configure.scan
depcomp
install-sh
missing
stamp-h1

# https://www.gnu.org/software/libtool/

ltmain.sh

# http://www.gnu.org/software/texinfo

texinfo.tex

# http://www.gnu.org/software/m4/

libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
autom4te.cache

#
# https://raw.githubusercontent.com/github/gitignore/master/C.gitignore
#

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb


#
# my additions
#

*~

.libs
.deps/
.dirstamp
.deps/

config.h
config.log
config.status
libtool
*.pc

Makefile
cast/Makefile
cast/libtizcastclient/Makefile
cast/libtizcastclient/src/Makefile
cast/libtizcastclient/tests/Makefile
cast/libtizcastclient/tests/check_tizcastclient.h
cast/libtizcastclient/tizonia
cast/tizcastd/Makefile
cast/tizcastd/dbus/Makefile
cast/tizcastd/dbus/com.aratelia.tiz.cast.service
cast/tizcastd/dbus/tizcastclient-dbus.hh
cast/tizcastd/dbus/tizcastd-dbus.hh
cast/tizcastd/src/Makefile
cast/tizcastd/src/tizcastd
cast/tizcastd/tizonia
clients/Makefile
clients/chromecast/Makefile
clients/chromecast/chromecastproxy/Makefile
clients/chromecast/libtizchromecast/Makefile
clients/chromecast/libtizchromecast/src/Makefile
clients/chromecast/libtizchromecast/tests/Makefile
clients/chromecast/libtizchromecast/tizonia
clients/tunein/Makefile
clients/tunein/tuneinproxy/Makefile
clients/tunein/libtiztunein/Makefile
clients/tunein/libtiztunein/src/Makefile
clients/tunein/libtiztunein/tests/Makefile
clients/tunein/libtiztunein/tizonia
clients/iheart/Makefile
clients/iheart/iheartproxy/Makefile
clients/iheart/libtiziheart/Makefile
clients/iheart/libtiziheart/src/Makefile
clients/iheart/libtiziheart/tests/Makefile
clients/iheart/libtiziheart/tizonia
clients/gmusic/Makefile
clients/gmusic/gmusicproxy/Makefile
clients/gmusic/libtizgmusic/Makefile
clients/gmusic/libtizgmusic/src/Makefile
clients/gmusic/libtizgmusic/tests/Makefile
clients/gmusic/libtizgmusic/tizonia
clients/soundcloud/Makefile
clients/soundcloud/libtizsoundcloud/Makefile
clients/soundcloud/libtizsoundcloud/src/Makefile
clients/soundcloud/libtizsoundcloud/tests/Makefile
clients/soundcloud/libtizsoundcloud/tizonia
clients/soundcloud/soundcloudproxy/Makefile
clients/youtube/Makefile
clients/youtube/libtizyoutube/Makefile
clients/youtube/libtizyoutube/src/Makefile
clients/youtube/libtizyoutube/tests/Makefile
clients/youtube/libtizyoutube/tizonia
clients/youtube/youtubeproxy/Makefile
clients/plex/Makefile
clients/plex/libtizplex/Makefile
clients/plex/libtizplex/src/Makefile
clients/plex/libtizplex/tests/Makefile
clients/plex/libtizplex/tizonia
clients/plex/plexproxy/Makefile
clients/spotify/Makefile
clients/spotify/libtizspotify/Makefile
clients/spotify/libtizspotify/src/Makefile
clients/spotify/libtizspotify/tests/Makefile
clients/spotify/libtizspotify/tizonia
clients/spotify/spotifyproxy/Makefile
compile_commands.json
config/Makefile
config/src/Makefile
config/src/log4crc
config/src/tizonia.conf
docs/doxygen-src/doxyfile
docs/doxygen-src/doxyfile.stamp
docs/doxygen-src/html/
docs/doxygen-src/xml/
docs/sphinx-src/_build/
docs/sphinx-src/overview/BUILDING.md
docs/sphinx-src/overview/BUILDING_with_meson.md
docs/sphinx-src/overview/CHANGELOG.md
docs/sphinx-src/overview/CODE_OF_CONDUCT.md
docs/sphinx-src/overview/CONTRIBUTING.md
docs/sphinx-src/overview/COPYING.LESSER.md
docs/sphinx-src/overview/ISSUE_TEMPLATE.md
docs/sphinx-src/overview/PROJECT.md
docs/sphinx-src/overview/README.md
docs/sphinx-src/overview/ROADMAP.md
docs/sphinx-src/development/BUILDING.md
docs/sphinx-src/development/BUILDING_with_meson.md
docs/sphinx-src/development/PROJECT.md
include/Makefile
include/omxil-1.2/Makefile
include/tizonia
libtizcore/Makefile
libtizcore/src/Makefile
libtizcore/test_component/Makefile
libtizcore/tests/Makefile
libtizcore/tests/check_tizcore.h
libtizcore/tests/tizonia.conf
libtizcore/tizonia
libtizonia/Makefile
libtizonia/src/Makefile
libtizonia/test_component/Makefile
libtizonia/tests/Makefile
libtizonia/tests/check_tizonia.h
libtizonia/tests/tizonia.conf
libtizonia/tizonia
libtizplatform/Makefile
libtizplatform/src/Makefile
libtizplatform/src/tizplatform_config.h
libtizplatform/tests/Makefile
libtizplatform/tests/check_tizplatform.h
libtizplatform/tizonia
player/Makefile
player/dbus/Makefile
player/dbus/mpris_dbus.hpp
player/src/Makefile
player/src/tizonia
player/tools/Makefile
player/tools/tizonia-remote
plugins/Makefile
plugins/aac_decoder/Makefile
plugins/aac_decoder/src/Makefile
plugins/chromecast_renderer/Makefile
plugins/chromecast_renderer/src/Makefile
plugins/file_reader/Makefile
plugins/file_reader/src/Makefile
plugins/file_writer/Makefile
plugins/file_writer/src/Makefile
plugins/flac_decoder/Makefile
plugins/flac_decoder/src/Makefile
plugins/http_renderer/Makefile
plugins/http_renderer/src/Makefile
plugins/http_source/Makefile
plugins/http_source/src/Makefile
plugins/mp3_decoder/Makefile
plugins/mp3_decoder/src/Makefile
plugins/mp3_encoder/Makefile
plugins/mp3_encoder/src/Makefile
plugins/mp3_metadata/Makefile
plugins/mp3_metadata/src/Makefile
plugins/mpeg_audio_decoder/Makefile
plugins/mpeg_audio_decoder/src/Makefile
plugins/ogg_demuxer/Makefile
plugins/ogg_demuxer/src/Makefile
plugins/ogg_muxer/Makefile
plugins/ogg_muxer/src/Makefile
plugins/opus_decoder/Makefile
plugins/opus_decoder/src/Makefile
plugins/opusfile_decoder/Makefile
plugins/opusfile_decoder/src/Makefile
plugins/pcm_decoder/Makefile
plugins/pcm_decoder/src/Makefile
plugins/pcm_renderer_alsa/Makefile
plugins/pcm_renderer_alsa/src/Makefile
plugins/pcm_renderer_pa/Makefile
plugins/pcm_renderer_pa/src/Makefile
plugins/spotify_source/Makefile
plugins/spotify_source/src/Makefile
plugins/vorbis_decoder/Makefile
plugins/vorbis_decoder/src/Makefile
plugins/vp8_decoder/Makefile
plugins/vp8_decoder/src/Makefile
plugins/webm_demuxer/Makefile
plugins/webm_demuxer/src/Makefile
plugins/yuv_renderer/Makefile
plugins/yuv_renderer/src/Makefile
rm/Makefile
rm/libtizrmproxy/Makefile
rm/libtizrmproxy/src/Makefile
rm/libtizrmproxy/tests/Makefile
rm/libtizrmproxy/tests/check_tizrmproxy.h
rm/libtizrmproxy/tests/gendb.sh
rm/libtizrmproxy/tests/tizonia.conf
rm/libtizrmproxy/tests/updatedb.sh
rm/libtizrmproxy/tizonia
rm/tizrmd/Makefile
rm/tizrmd/data/Makefile
rm/tizrmd/data/tizonia-rm-db-dump.sh
rm/tizrmd/data/tizonia-rm-db-generate.sh
rm/tizrmd/data/tizrm.db
rm/tizrmd/dbus/Makefile
rm/tizrmd/dbus/com.aratelia.tiz.rm.service
rm/tizrmd/dbus/tizrmd-dbus.hh
rm/tizrmd/dbus/tizrmproxy-dbus.hh
rm/tizrmd/src/Makefile
rm/tizrmd/src/tizrmd
rm/tizrmd/tizonia

3rdparty/dbus-cplusplus/tizonia
3rdparty/dbus-cplusplus/tools/tizonia-dbusxx-introspect
3rdparty/dbus-cplusplus/tools/tizonia-dbusxx-xml2cpp
player/tools/tizonia.desktop
