#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DEB_CFLAGS_MAINT_APPEND=-I/usr/include/tizonia
export DEB_CPPFLAGS_MAINT_APPEND=-I/usr/include/tizonia

%:
	dh $@  --with autoreconf
