Source: tizgmusicproxy
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-tizgmusicproxy
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Tizonia Google Play Music proxy
 Tizonia's Google Play Music proxy.
 .
 This package contains Tizonia's Google Play Music proxy Python module.
