Source: tizoggdmux
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-autoreconf,
               tizilheaders,
               libtizplatform-dev,
               libtizonia-dev,
               liboggz2-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: libtizoggdmux-dev
Section: libdevel
Architecture: any
Depends: libtizoggdmux0 (= ${binary:Version}),
         ${misc:Depends},
         tizilheaders,
         libtizplatform-dev,
         libtizonia-dev,
         liboggz2-dev
Description: Tizonia's OpenMAX IL OGG demuxer library, development files
 Tizonia's OpenMAX IL OGG demuxer library.
 .
 This package contains the development library libtizoggdmux.

Package: libtizoggdmux0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia's OpenMAX IL OGG demuxer library, run-time library
 Tizonia's OpenMAX IL OGG demuxer library.
 .
 This package contains the runtime library libtizoggdmux.

Package: libtizoggdmux0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libtizoggdmux0 (= ${binary:Version}), ${misc:Depends}
Description: Tizonia's OpenMAX IL OGG demuxer library, debug symbols
 Tizonia's OpenMAX IL OGG demuxer library.
 .
 This package contains the detached debug symbols for libtizoggdmux.
