Source: tizhttpsrc
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-autoreconf,
               tizilheaders,
               libtizplatform-dev,
               libtizonia-dev,
               libtizgmusic-dev,
               libtizsoundcloud-dev,
               libtizyoutube-dev,
               libtizplex-dev,
               libtiztunein-dev,
               libtiziheart-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: libtizhttpsrc-dev
Section: libdevel
Architecture: any
Depends: libtizhttpsrc0 (= ${binary:Version}),
         ${misc:Depends},
         tizilheaders,
         libtizplatform-dev,
         libtizonia-dev,
         libtizgmusic-dev,
         libtizsoundcloud-dev,
         libtizyoutube-dev,
         libtizplex-dev,
         libtiztunein-dev,
         libtiziheart-dev
Description: Tizonia's OpenMAX IL HTTP audio source library, development files
 Tizonia's OpenMAX IL HTTP audio source library.
 .
 This package contains the development library libtizhttpsrc.

Package: libtizhttpsrc0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia's OpenMAX IL HTTP audio source library, run-time library
 Tizonia's OpenMAX IL HTTP audio source library.
 .
 This package contains the runtime library libtizhttpsrc.

Package: libtizhttpsrc0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libtizhttpsrc0 (= ${binary:Version}), ${misc:Depends}
Description: Tizonia's OpenMAX IL HTTP audio source library, debug symbols
 Tizonia's OpenMAX IL HTTP audio source library.
 .
 This package contains the detached debug symbols for libtizhttpsrc.
