Source: tizpulsepcmrnd
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-autoreconf,
               tizilheaders,
               libtizplatform-dev,
               libtizonia-dev,
               libsndfile1-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: libtizpulsepcmrnd-dev
Section: libdevel
Architecture: any
Depends: libtizpulsepcmrnd0 (= ${binary:Version}),
         ${misc:Depends},
         tizilheaders,
         libtizplatform-dev,
         libtizonia-dev,
         libsndfile1-dev
Description: Tizonia's OpenMAX IL audio renderer (Pulseaudio) library, development files
 Tizonia's OpenMAX IL audio renderer (Pulseaudio) library.
 .
 This package contains the development library libtizpulsepcmrnd.

Package: libtizpulsepcmrnd0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia's OpenMAX IL audio renderer (Pulseaudio) library, run-time library
 Tizonia's OpenMAX IL audio renderer (Pulseaudio) library.
 .
 This package contains the runtime library libtizpulsepcmrnd.

Package: libtizpulsepcmrnd0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libtizpulsepcmrnd0 (= ${binary:Version}), ${misc:Depends}
Description: Tizonia's OpenMAX IL audio renderer (Pulseaudio) library, debug symbols
 Tizonia's OpenMAX IL audio renderer (Pulseaudio) library.
 .
 This package contains the detached debug symbols for libtizpulsepcmrnd.
