Source: tizplatform
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-autoreconf,
               tizilheaders,
               liblog4c-dev,
               uuid-dev,
               libcurl-dev,
               libev-dev,
               check
Standards-Version: 3.9.4
Section: libs
Homepage: https://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: libtizplatform-dev
Section: libdevel
Architecture: any
Depends: libtizplatform0 (= ${binary:Version}),
         tizilheaders,
         liblog4c-dev,
         uuid-dev,
         libcurl-dev,
         libev-dev
Description: Tizonia's platform library, development files
 Tizonia's platform library.
 .
 This package contains the development library libtizplatform.

Package: libtizplatform0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia's platform library, run-time library
 Tizonia's platform library.
 .
 This package contains the runtime library libtizplatform.

Package: libtizplatform0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libtizplatform0 (= ${binary:Version}), ${misc:Depends}
Description: Tizonia's platform library, debug symbols
 Tizonia's platform library.
 .
 This package contains the detached debug symbols for libtizplatform.
