Source: tizplexproxy
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://tizonia.org

Package: python3-tizplexproxy
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Tizonia Plex proxy
 Tizonia's Plex proxy.
 .
 This package contains Tizonia's Plex proxy Python module.
