Source: tizplexproxy
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-tizplexproxy
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Tizonia Plex proxy
 Tizonia's Plex proxy.
 .
 This package contains Tizonia's Plex proxy Python module.
