Source: tizsoundcloud
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0), dh-autoreconf
Standards-Version: 3.9.4
Section: libs
Homepage: https://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: libtizsoundcloud-dev
Section: libdevel
Architecture: any
Depends: libtizsoundcloud0 (= ${binary:Version})
Description: Tizonia's SoundCloud client library, development files
 Tizonia's SoundCloud client library.
 .
 This package contains the development library libtizsoundcloud.

Package: libtizsoundcloud0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia's SoundCloud client library, run-time library
 Tizonia's SoundCloud client library.
 .
 This package contains the runtime library libtizsoundcloud.

Package: libtizsoundcloud0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libtizsoundcloud0 (= ${binary:Version}), ${misc:Depends}
Description: Tizonia's SoundCloud client library, debug symbols
 Tizonia's SoundCloud client library.
 .
 This package contains the detached debug symbols for libtizsoundcloud.
