Source: tiztuneinproxy
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-tiztuneinproxy
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Tizonia Tunein proxy
 Tizonia's Tunein proxy.
 .
 This package contains Tizonia's Tunein proxy Python module.
