Source: tizdeezer
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0), dh-autoreconf
Standards-Version: 3.9.4
Section: libs
Homepage: http://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: libtizdeezer-dev
Section: libdevel
Architecture: any
Depends: libtizdeezer0 (= ${binary:Version})
Description: Tizonia's Deezer client library, development files
 Tizonia's Deezer client library.
 .
 This package contains the development library libtizdeezer.

Package: libtizdeezer0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia's Deezer client library, run-time library
 Tizonia's Deezer client library.
 .
 This package contains the runtime library libtizdeezer.

Package: libtizdeezer0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libtizdeezer0 (= ${binary:Version}), ${misc:Depends}
Description: Tizonia's Deezer client library, debug symbols
 Tizonia's Deezer client library.
 .
 This package contains the detached debug symbols for libtizdeezer.
