Source: tizrmd
Section: sound
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-autoreconf,
               libtizdbus-c++-dev,
               tizilheaders,
               libtizplatform-dev,
               libdbus-1-dev
Standards-Version: 3.9.4
Homepage: https://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: tizrmd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia's resource manager daemon
 A daemon server to control Tizonia OpenMAX IL resources.

Package: tizrmd-dbg
Section: debug
Priority: extra
Architecture: any
Depends: tizrmd (= ${binary:Version}), ${misc:Depends}
Description: Tizonia's resource manager daemon
 A daemon server to control Tizonia OpenMAX IL resources.
 .
 This package contains the debugging symbols.

Package: tizrmd-dev
Section: libdevel
Architecture: any
Depends: tizrmd (= ${binary:Version}),
         tizilheaders,
         libtizplatform-dev,
         libtizdbus-c++-dev
Description: Tizonia's resource manager, development files
 Tizonia's resource manager daemon.
 .
 This package contains the development headers.
