Source: tizmp3meta
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-autoreconf,
               tizilheaders,
               libtizplatform-dev,
               libtizonia-dev,
               libmpg123-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: libtizmp3meta-dev
Section: libdevel
Architecture: any
Depends: libtizmp3meta0 (= ${binary:Version}),
         ${misc:Depends},
         tizilheaders,
         libtizplatform-dev,
         libtizonia-dev,
         libmpg123-dev
Description: Tizonia's OpenMAX IL MP3 metadata eraser library, development files
 Tizonia's OpenMAX IL MP3 metadata eraser library.
 .
 This package contains the development library libtizmp3meta.

Package: libtizmp3meta0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia's OpenMAX IL MP3 metadata eraser library, run-time library
 Tizonia's OpenMAX IL MP3 metadata eraser library.
 .
 This package contains the runtime library libtizmp3meta.

Package: libtizmp3meta0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libtizmp3meta0 (= ${binary:Version}), ${misc:Depends}
Description: Tizonia's OpenMAX IL MP3 metadata eraser library, debug symbols
 Tizonia's OpenMAX IL MP3 metadata eraser library.
 .
 This package contains the detached debug symbols for libtizmp3meta.
