Source: tizvorbisdec
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-autoreconf,
               tizilheaders,
               libtizplatform-dev,
               libtizonia-dev,
               libfishsound1-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: libtizvorbisdec-dev
Section: libdevel
Architecture: any
Depends: libtizvorbisdec0 (= ${binary:Version}),
         ${misc:Depends},
         tizilheaders,
         libtizplatform-dev,
         libtizonia-dev,
         libfishsound1-dev
Description: Tizonia's OpenMAX IL Vorbis decoder library, development files
 Tizonia's OpenMAX IL Vorbis decoder library.
 .
 This package contains the development library libtizvorbisdec.

Package: libtizvorbisdec0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia's OpenMAX IL Vorbis decoder library, run-time library
 Tizonia's OpenMAX IL Vorbis decoder library.
 .
 This package contains the runtime library libtizvorbisdec.

Package: libtizvorbisdec0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libtizvorbisdec0 (= ${binary:Version}), ${misc:Depends}
Description: Tizonia's OpenMAX IL Vorbis decoder library, debug symbols
 Tizonia's OpenMAX IL Vorbis decoder library.
 .
 This package contains the detached debug symbols for libtizvorbisdec.
