Source: tizchromecast
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0), dh-autoreconf
Standards-Version: 3.9.4
Section: libs
Homepage: https://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: libtizchromecast-dev
Section: libdevel
Architecture: any
Depends: libtizchromecast0 (= ${binary:Version})
Description: Tizonia's Chromecast client library, development files
 Tizonia's Chromecast client library.
 .
 This package contains the development library libtizchromecast.

Package: libtizchromecast0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia's Chromecast client library, run-time library
 Tizonia's Chromecast client library.
 .
 This package contains the runtime library libtizchromecast.

Package: libtizchromecast0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libtizchromecast0 (= ${binary:Version}), ${misc:Depends}
Description: Tizonia's Chromecast client library, debug symbols
 Tizonia's Chromecast client library.
 .
 This package contains the detached debug symbols for libtizchromecast.
