Source: tizmp3dec
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-autoreconf,
               tizilheaders,
               libtizplatform-dev,
               libtizonia-dev,
               libmad0-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: libtizmp3dec-dev
Section: libdevel
Architecture: any
Depends: libtizmp3dec0 (= ${binary:Version}),
         ${misc:Depends},
         tizilheaders,
         libtizplatform-dev,
         libtizonia-dev,
         libmad0-dev
Description: Tizonia's OpenMAX IL MP3 decoder library, development files
 Tizonia's OpenMAX IL MP3 decoder library.
 .
 This package contains the development library libtizmp3dec.

Package: libtizmp3dec0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia's OpenMAX IL MP3 decoder library, run-time library
 Tizonia's OpenMAX IL MP3 decoder library.
 .
 This package contains the runtime library libtizmp3dec.

Package: libtizmp3dec0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libtizmp3dec0 (= ${binary:Version}), ${misc:Depends}
Description: Tizonia's OpenMAX IL MP3 decoder library, debug symbols
 Tizonia's OpenMAX IL MP3 decoder library.
 .
 This package contains the detached debug symbols for libtizmp3dec.
