Source: tizopusfiledec
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-autoreconf,
               tizilheaders,
               libtizplatform-dev,
               libtizonia-dev,
               libopusfile-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: libtizopusfiledec-dev
Section: libdevel
Architecture: any
Depends: libtizopusfiledec0 (= ${binary:Version}),
         ${misc:Depends},
         tizilheaders,
         libtizplatform-dev,
         libtizonia-dev,
         libopusfile-dev
Description: Tizonia's OpenMAX IL OPUS decoder (libopusfile) library, development files
 Tizonia's OpenMAX IL OPUS decoder (libopusfile) library.
 .
 This package contains the development library libtizopusfiledec.

Package: libtizopusfiledec0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia's OpenMAX IL OPUS decoder (libopusfile) library, run-time library
 Tizonia's OpenMAX IL OPUS decoder (libopusfile) library.
 .
 This package contains the runtime library libtizopusfiledec.

Package: libtizopusfiledec0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libtizopusfiledec0 (= ${binary:Version}), ${misc:Depends}
Description: Tizonia's OpenMAX IL OPUS decoder (libopusfile) library, debug symbols
 Tizonia's OpenMAX IL OPUS decoder (libopusfile) library.
 .
 This package contains the detached debug symbols for libtizopusfiledec.
