Source: tizonia-player
Section: sound
Priority: optional
Maintainer: Juan A. Rubio <juan.rubio@aratelia.com>
Build-Depends: debhelper (>= 8.0.0),
               dh-autoreconf,
               bash-completion (>= 1.1),
               libtizdbus-c++-dev,
               tizilheaders,
               libtizplatform-dev,
               libtizrmproxy-dev,
               tizrmd-dev,
               libtizcore-dev,
               libdbus-1-dev
Standards-Version: 3.9.4
Homepage: https://tizonia.org
Vcs-Git: git://github.com/tizonia/tizonia-openmax-il.git
Vcs-Browser: https://github.com/tizonia/tizonia-openmax-il

Package: tizonia-player
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tizonia command-line music player
 A command-line music player and streaming server with support
 for Spotify, Google Play Music, YouTube, SoundCloud, and Dirble.

Package: tizonia-player-dbg
Section: debug
Priority: extra
Architecture: any
Depends: tizonia-player (= ${binary:Version}), ${misc:Depends}
Description: Tizonia command-line music player, debug symbols
 A command-line music player and streaming server with support
 for Spotify, Google Play Music, YouTube, SoundCloud, and Dirble.
 .
 This package contains the debugging symbols.
